body {
  background-color: black;
}

.App-logo {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: white;
}

.tabela {
  color: white;
}

label {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.home_h1 {
  text-align: center;
}