body {
  background-color: black;
  background-image: url(background.jpg); 
  background-size: 100%;
}

.App-logo {
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  



}

h1 {
  color: white;
}
h2{
  color: white;
  text-align: center;
}
.tabela {
  color: white;
}

label {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.home_h1 {
  text-align: center;
}
